{% if site.github_username %}
<a href="https://gitlab.com/{{ site.gitlab_username | cgi_escape | escape }}"
  ><svg class="svg-icon">
    <use
      xlink:href="{{ 'images/minima-social-icons.svg#github' | relative_url }}"
    ></use>
  </svg>
  {{ site.gitlab_username | escape }}</a
>
{% endif %}
